@sprite #header {
    gwt-image: "headerMiddle";
    position: relative;
    height: 40px;
    border-bottom: 1px solid rgb(45, 54, 66);
}

/**
  backButton of the HeaderPanel
*/

.backButton {

    z-index: 1; /* display button on top of header so it receives touch events */
    position: absolute;
    -webkit-transform: translate(5px, 5px); /** use webkit animation for positioning*/
    opacity: 1;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: rgba(0, 0, 0, .6) 0px -1px 0px;
    -webkit-border-image: url('img/back_button.png') 0 4 0 13;
    border-width: 0 4px 0 13px;
    padding-right: 4px;
    padding-top: 7px;
    max-width: 60px;
    min-width: 40px;
    height: 23px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.backButton:active {
    -webkit-border-image: url('img/back_button_touched.png') 0 4 0 13;
}

/**
    backButton animations
*/

.backButtonPosLeft {
    -webkit-transform: translate(-55px, 5px);
    opacity: 0;
}

.backButtonPosRight {
    -webkit-transform: translate(65px, 5px);
    opacity: 0;
}

.backButtonStartAnimate {
    -webkit-transition-property: -webkit-transform, opacity;
    -webkit-transition-duration: 0.35s, 0.35s;
}

.backButtonStopAnimate {
    -webkit-transition-property: none;
    -webkit-transition-duration: 0s;
}


/**
   Forward Button of the Panel
*/

.forwardButton {
    z-index: 1;

    position: absolute;
    -webkit-transform: translate(235px, 5px);
    opacity: 1;

    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: rgba(0, 0, 0, .6) 0px -1px 0px;
    -webkit-border-image: url('img/forward_button.png') 0 13 0 4;
    border-width: 0 13px 0 4px;
    padding-top: 7px;
    padding-left: 4px;
    max-width: 60px;
    min-width: 40px;
    height: 23px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}


.forwardButton:active {
    -webkit-border-image: url('img/forward_button_touched.png') 0 13 0 4;
}


.forwardButtonPosLeft {
    -webkit-transform: translate(-190px, 5px);
    opacity: 0;
}

.forwardButtonPosRight {
    -webkit-transform: translate(400px, 5px);
    opacity: 0;
}

.forwardButtonStartAnimate {
    -webkit-transition-property: -webkit-transform, opacity;
    -webkit-transition-duration: 0.35s, 0.35s;
}

.forwardButtonStopAnimate {
    -webkit-transition-property: none;
    -webkit-transition-duration: 0s;
}

/**
    Title
*/

.title {
    position: absolute;
    -webkit-transform: translate(0px, 5px);
    opacity: 1;
    width: 310px;
    text-align: center;
    height: 31px;
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 5px;
    z-index: 0;
    font-size: 16pt;
    font-weight: bold;
    color: white;
    text-shadow: rgba(0, 0, 0, .6) 0px -1px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.titlePosLeft {
    -webkit-transform: translate(-320px, 5px);
    opacity: 0;
}

.titlePosRight {
    -webkit-transform: translate(320px, 5px);
    opacity: 0;
}

.titleStartAnimate {
    -webkit-transition-property: -webkit-transform, opacity;
    -webkit-transition-duration: 0.35s, 0.35s;
}

.titleStopAnimate {
    -webkit-transition-property: none;
    -webkit-transition-duration: 0s;
}




