* {
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
}

.selectAble {
    -webkit-user-select: text;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Helvetica;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    background-image: url('img/background_stripes.png');
    background-repeat: repeat;
}

.searchField{
    -webkit-appearance:searchfield;    
}

.roundPage{
    -webkit-border-radius:15px;
    background-color: white;
    border: 1px solid rgb(171, 173, 176);
    width: 300px;
    padding: 0px;
    margin: 10px 0px 6px 10px;
    font-weight: bold;
}


