.progressIndicator {
    /*background: #663300 url("img/spinner.gif") no-repeat fixed center center;*/
    opacity: 0.8;
    width: 320px;
    height: 460px;
    background-image:  url("img/ajax-loader.gif");
    background-repeat: no-repeat;
	background-position: center;
    background-color: #AAA;
    text-align: center;
    z-index: 10;

    

}

.progressIndicatorText {
    
    font-size: 22;
    text-shadow: black;
    -webkit-transform: translate(0px, 180px);
    font-weight: bold;
    color:#222;
   



}