.movingPanel {
    width: 320px;
    min-height: 376px;
    height: 420px;
    position: absolute;
}

.movingPanelNormal {
    -webkit-transform: translate(0px, 0px);

}

.movingPanelLeft {
    -webkit-transform: translateX(-320px);
}

.movingPanelRight {
    -webkit-transform: translateX(320px);
}

.movingPanelAnimate {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 0.35s;
}