* {
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
}

.selectAble {
    -webkit-user-select: text;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Helvetica;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    background-image: url('img/background_stripes.png');
    background-repeat: repeat;
    z-index: 0;
}

.searchField{
    -webkit-appearance:searchfield;    
}

.roundPage{
    -webkit-border-radius:15px;
    background-color: white;
    border: 1px solid rgb(171, 173, 176);
    width: 300px;
    padding: 0px;
    margin: 10px 0px 6px 10px;
    font-weight: bold;
}


/**
    searchbox
*/

.searchbox fieldset {
    border: 0;
    margin: 0;
    padding: 0
}

.searchbox div {
    width: 272px
}

.searchbox input[type="text"] {
    width: 275px
}





.searchbox {
    height: 44px;
    /*background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f1f3f4), color-stop(3%, #e0e4e7), color-stop(50%, #c7cfd4), color-stop(51%, #bec7cd), color-stop(97%, #b4bec6), to(#8999a5));*/
    background: url('img/search_back.png') repeat-x;
    /*margin: -13px 0 13px 0;*/
    width: 100%

}

.searchbox div {
    height: 24px;
    -webkit-border-image: url('img/searchfield.png') 4 14 1 24;
    border-width: 4px 14px 1px 24px;
    display: block;
    position: relative;
    top: 8px;
    margin: auto
}

.searchbox input[type="text"] {
    border: 0;
    -webkit-appearance: none;
    height: 18px;
    float: left;
    font-size: 13px;
    padding: 0;
    position: relative;
    top: 2px;
    left: 2px
}






